@import '/src/theme';

:root {
  --table-body-filter: drop-shadow(0px 0 2px #0000001A);
  --table-bg-color: var(--card-background);
  --table-shadow: var(--box-shadow);

  // primary should have alpha channel in order to table filter works on cell
  --table-primary-bg-color--hover: #F1F1F11F;
  --table-secondary-bg-color--hover: #FAFAFA;
}

.Table {
  display: flex;
  flex-direction: column;

  // in order to activate scrolling based on table parent container size
  min-width: 0;
  min-height: 0;
}

.TableContainer {
  background: var(--table-bg-color);
  box-shadow: var(--table-shadow);
  border-radius: var(--border-radius);
  flex-grow: 1;
}

.TableHeader {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 4px;
}
