.Card {
  background-color: var(--color-contrast-secondary);
  border-radius: var(--radius-xs);
  box-shadow: var(--box-shadow-xs);
}

.divided > *:not(:last-child) {
  border-bottom: 1px solid var(--divider-color);
}
