@import "contexts/UI/UI.module.scss";

// icon size
$xs-icon-size: size(6); // or 3
$sm-icon-size: size(8); // or 4
$md-icon-size: size(10); // or 5
$lg-icon-size: size(12); // or 6
$xl-icon-size: size(14); // or 7

:export {
  xsIconSize: $xs-icon-size;
  smIconSize: $sm-icon-size;
  mdIconSize: $md-icon-size;
  lgIconSize: $lg-icon-size;
  xlIconSize: $xl-icon-size;
}


:global {
  .icon {
    transition: $transition;
  }

  // icon size
  .i-xs { font-size: $xs-icon-size; line-height: $xs-icon-size; }
  .i-sm { font-size: $sm-icon-size; line-height: $sm-icon-size; }
  .i-md { font-size: $md-icon-size; line-height: $md-icon-size; }
  .i-lg { font-size: $lg-icon-size; line-height: $lg-icon-size; }
  .i-xl { font-size: $xl-icon-size; line-height: $xl-icon-size; }

  // status
  .i-secondary { color: $secondary-color; }
  .i-success { color: $success-color; }
  .i-warning { color: $warning-color; }
  .i-danger { color: $danger-color; }
  .i-info { color: $info-color; }
  .i-disable { color: $disabled-color; cursor: not-allowed; user-select: none; }

  // loading
  .i-l { animation: loading 1s linear infinite; }

  @keyframes loading {
    to { transform: rotate(360deg); }
  }
}
