@import "contexts/UIProvider/UI.module.scss";

:global {
  .layout {
    display: grid;
    transition: $transition;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }


  // template
  .l-t-r {
    grid-template-areas: 
    "header header header"
    "left-aside content right-aside"
    "footer footer footer";
  }
  .l-t-c {
    grid-template-areas: 
    "left-aside header right-aside"
    "left-aside content right-aside"
    "left-aside footer right-aside";
  }
  .l-t-la {
    grid-template-areas: 
    "left-aside header header"
    "left-aside content right-aside"
    "left-aside footer footer";
  }
  .l-t-ra {
    grid-template-areas: 
    "header header right-aside"
    "left-aside content right-aside"
    "footer footer right-aside";
  }
}
