.Popup {
}

.header {
  border-bottom: var(--border);
}

.card {
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-contrast-secondary);
  box-shadow: var(--box-shadow-xs);
}

.card.card:not(.arrow) {
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

:global(.MuiTooltip-arrow)::before {
  background-color: var(--color-contrast-secondary);
  box-shadow: var(--box-shadow-xs);
}
