.Popup {
}

.card {
  color: var(--color-primary);
  background-color: var(--color-contrast-secondary);
  padding: 0;
  border: var(--border);
  box-shadow: var(--box-shadow-xxs);
}

.card.card:not(.arrow) {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  margin-bottom: 0;
}
