@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.AppHeader {
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  height: 60px;
  padding: 12px;
}

.End {
  display: flex;
}
