@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

:global {
  .action {
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: auto;
  }

  .action--stretch {
    width: 100%;
    border-radius: 0;
    padding-left: var(--space-size--xs);
    padding-right: var(--space-size--xs);

    .action-content {
      flex-grow: 1;
    }
  }

  .action:hover .action-content {
    font-weight: 500;
  }

  .xs { padding: 2px; gap: 2px; }
  .sm { padding: 3px; gap: 3px; }
  .md { padding: 4px; gap: 4px; }
  .lg { padding: 5px; gap: 5px; }
  .xl { padding: 6px; gap: 6px; }

  .round {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
  }

  .action.clear {
    padding: 0;
  }
}
