@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .block {
    display: flex;

    &--x {
      flex-direction: row;
    }

    &--y {
      flex-direction: column;
    }

    &--xy {
      flex-flow: row wrap;
    }
  }
}
