@import 'src/assets/styles'; // TODO: check. Is it add style duplication in dev tools? // change to common folder style import

:root {
  // --ui-framework-color: var(--account-framework-color);
}

:global {
  .g { @include attach-space-gap-variables(gap);}
  .p { @include attach-space-padding-variables(padding);}
  .m { @include attach-space-margin-variables(margin);}

  .d {
    &--x { display: flex; flex-flow: row nowrap; }
    &--y { display: flex; flex-flow: column nowrap; }
    &--xy { display: flex; flex-flow: row wrap; }
  }

  .stretch {
    @include stretch;
  }
}
