@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.Block {
  display: flex;
}

.x {
  flex-flow: row nowrap;
}

.y {
  flex-flow: column nowrap;
}

.xy {
  flex-flow: row wrap;
}

.stretch {
  @include stretch;
}
