@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.FeaturePage {
  grid-template: 'center right' 1fr / 1fr auto;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background: var(--card-background);
}

.Options {
  border-left: var(--border);

  :global(.jer-editor-container) {
    border: 0 !important;
    padding-top: 0;
  }
}

.Content {
  width: 100%;
}
