@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.GuidePage {
}

.Aside,
.Content {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background: var(--card-background);
}
