@import "contexts/UIProvider/UI.module.scss";

// ---| self |---
@import "./TextAlignmentUI/TextAlignmentUI.module.scss";
@import "./TextStyleUI/TextStyleUI.module.scss";
@import "./TextTransformUI/TextTransformUI.module.scss";
@import "./TextWrapUI/TextWrapUI.module.scss";

:global {
  .text {
    margin: 0;
    transition: $transition;
  }

  // tags
  h1 { font-size: $xl-font-size; }
  h2 { font-size: $lg-font-size; }
  h3 { font-size: $md-font-size; }
  h4 { font-size: $sm-font-size; }
  h5 { font-size: $xs-font-size; }
  i { font-size: $sm-font-size; font-style: italic; }
  strong { font-size: $sm-font-size; font-weight: bold; }
  del { font-size: $sm-font-size; text-decoration: line-through; }
  u { font-size: $sm-font-size; text-decoration: underline; }
  kbd { font-size: $sm-font-size; }
  code { font-size: $sm-font-size; }
  mark { font-size: $sm-font-size; }
  span { font-size: $sm-font-size; }
  p { font-size: $sm-font-size; }
  a { font-size: $sm-font-size; text-decoration: none; }
}
