@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.Modal {
}

.Content {
  position: absolute;
  width: 550px;
  height: fit-content;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
}

.right {
  height: 100%;
  right: 0;
  border-radius: 0;
}

:global(.mobile) .Content {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
