@import "Launcher/UILauncher/UISettingsProvider/UISettingsProvider.module.scss";

// shift
$xs-shift: size(1);
$sm-shift: size(2);
$md-shift: size(3);
$lg-shift: size(4);
$xl-shift: size(5);

:export {
  xsShift: $xs-shift;
  smShift: $sm-shift;
  mdShift: $md-shift;
  lgShift: $lg-shift;
  xlShift: $xl-shift;
}


/// Set absolute positioning in special point.
/// ---------------------------------------------
/// | start-start     center-start    end-start |
/// |                                           |
/// | start-center   center-center   end-center |
/// |                                           |
/// | start-end       center-end        end-end |
/// ---------------------------------------------
///
/// @param {start | center | end} $x The position by x.
/// @param {start | center | end} $y The position by y.
/// @param {number} $indent Inner Indent from block.
@mixin absolute-position($x: center, $y: center, $indent: size(12)) {
  // horizontal
  @if $x == start {
    left: $indent;
  } @else if $x == center {
    left: 50%;
  }  @else {
    right: $indent;
  }

  // vertical
  @if $y == start {
    top: $indent;
  } @else if $y == center {
    top: 50%;
  }  @else {
    bottom: $indent;
  }

  @if $x == center and $y == center {
    transform: translateX(-50%) translateY(-50%);
  } @else if $x == center {
    transform: translateX(-50%);
  } @else if $y == center {
    transform: translateY(-50%);
  }
}


:global {
  // Position
  .bp-pos-s { position: static; }
  .bp-pos-r { position: relative; }
  .bp-pos-a { position: absolute; }
  .bp-pos-f { position: fixed; }
  .bp-pos-st { position: sticky; }


  // placement
  .bp-p-ss { @include absolute-position(start, start); }
  .bp-p-sc { @include absolute-position(start, center); }
  .bp-p-se { @include absolute-position(start, end); }
  .bp-p-cs { @include absolute-position(center, start); }
  .bp-p-cc { @include absolute-position(center, center); }
  .bp-p-ce { @include absolute-position(center, end); }
  .bp-p-es { @include absolute-position(end, start); }
  .bp-p-ec { @include absolute-position(end, center); }
  .bp-p-ee { @include absolute-position(end, end); }
  .bp-p-lt { left: 0; top: 0; bottom: 0; }
  .bp-p-rt { right: 0; top: 0; bottom: 0; }
  .bp-p-tp { top: 0; left: 0; right: 0; }
  .bp-p-bm { bottom: 0; left: 0; right: 0; }
  .bp-p-st { top: 0; bottom: 0; left: 0; right: 0; }
}
