@import "components/Box/BoxUI/BoxUI.module.scss";

.ArticleNavigation {
  pointer-events: none;
}

.NextPageButton,
.PrevPageButton,
.MenuButton {
  position: absolute !important;
  opacity: 0.5;
  pointer-events: all;

  &:hover {
    opacity: 1;
  }
}

.NextPageButton {
  @include absolute-position(end, start)
}

.PrevPageButton {
  @include absolute-position(start, start)
}

.MenuButton {
  @include absolute-position(end, end)
}
