@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.PreviewCard {
  display: block;
  position: relative;
}

.Meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  border-radius: 4px;
  border: var(--border);
  background: var(--card-background);
}
