.PreviewCard {
  display: block;
  position: relative;
}

.Meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  border: var(--border);
  border-radius: var(--radius-xs);
  background: var(--color-contrast-secondary);
}
