@use 'light';
@use 'dark';
@use '../variables';

// set theme via css variables instead of React theme provider
// to prevent lack of theme on first load.
@mixin init-color-theme($palette) {
  @if $palette == dark {
    @include dark.init-color-theme;

    // default light theme
  } @else {
    @include light.init-color-theme;
  }
}

@mixin init-size-theme() {
  @include init-text-variables;
  @include init-icon-variables;
  @include init-space-variables;
  @include init-scroll-variables;

  --divider-color: #26557326;
  --border-radius: 4px;
  --border: 1px solid var(--divider-color);
  --box-shadow: #0000001A 0 1px 3px 0;
}
