@import "src/Launcher/UILauncher/UILauncher.module.scss";

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.UILayout {
  overflow: hidden;
}

.SecondLayout {
  position: relative;
}

.ToastContainer {
  position: absolute;
}

.Alert:has(*),
.Header:has(*) {
  border-bottom: 1px solid var(--border-color);
}

.Menu:has(*),
.LeftAside:has(*) {
  border-right: 1px solid var(--border-color);
}

.Drawer:has(*),
.RightAside:has(*) {
  border-left: 1px solid var(--border-color);
}

.Footer:has(*),
.Guard:has(*) {
  border-top: 1px solid var(--border-color);
}
