@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.StatusPage {
  position: relative;
}

.Banner {
  width: 450px;
  position: absolute;

  // todo: fix via @include absolute-position(center, center);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
