@use 'sass:color';
@use 'sass:map';
@use './variables';

// colors
$color-name: color;
$colors: primary, secondary, success, info, warning, error, bg, contrast;

/// Create size.
/// @param {number} $value Color.
/// @param {number} $alpha Alpha shift unit in presents.
/// @return {string} Joint value
@function init-color($value, $alpha: 100%, $mix-color: transparent) {
  @return color-mix(in srgb, $value $alpha, $mix-color);
}

/// Create css color palette: primary, secondary, success, info, warning, error, background, contrast.
/// @param {color} $primary Color in hex format.
/// @param {color} $secondary Color in hex format.
/// @param {color} $success Color in hex format.
/// @param {color} $info Color in hex format.
/// @param {color} $warning Color in hex format.
/// @param {color} $error Color in hex format.
/// @param {color} $background Color in hex format.
/// @param {color} $contrast Color in hex format.
/// @param {number} $alpha Alpha shift unit.
@mixin init-color-variables($primary, $secondary, $success, $info, $warning, $error, $contrast-primary, $contrast-secondary, $alpha: 15) {
  $palette: ();
  $colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'error': $error,
    'contrast-primary': $contrast-primary,
    'contrast-secondary': $contrast-secondary,
  );

  @each $name, $color in $colors {
    $palette: map.set($palette, $name, $color);

    /* Interactive shifts for Light Theme */
    $palette: map.set($palette, #{$name}-hover, init-color(var(--color-#{$name}), 90%, #000000)); /* Darkens by 10% */
    $palette: map.set($palette, #{$name}-active, init-color(var(--color-#{$name}), 80%, #000000)); /* Darkens by 20% */

    /* Set sub colors */
    @for $i from 1 through 6 {
      $new-name: '#{$name}-#{$i}';
      $new-color: init-color($color, 100% - $i * $alpha);
      $palette: map.set($palette, $new-name, $new-color);
    }
  }

  @include variables.init-variables($color-name, $palette);
}

/// Attach css color variables to element as modifier.
/// @param {string} $name Element name.
/// @param {any} $property Property name.
@mixin attach-color-variables($name, $property) {
  @include variables.attach-variables($name, $property, $colors);
}
