@use 'sass:list';

/// Create value name.
/// @param {list} $args Array of names to join.
/// @return {string} Joint value
@function init-name($args...) {
  $result: '';

  @each $arg in $args {
    @if $result == '' {
      $result: '#{$arg}';
    } @else {
      $result: '#{$result}-#{$arg}';
    }
  }

  @return $result;
}

/// Create variable name.
/// @param {list} $args Array of names to join.
/// @return {string} Joint value
@function init-variable($args...) {
  @return --#{init-name($args...)};
}

/// Create css variables.
/// @param {string} $name Element name.
/// @param {map} $map Variable map.
@mixin init-variables($name, $map) {
  @each $modifier, $value in $map {
    #{init-variable($name, $modifier)}: #{$value};
  }
}

/// Attach css variables to element as modifier.
/// @param {string} $name Element name.
/// @param {any} $property Property name.
/// @param {list} $list modifier list.
@mixin attach-variables($name, $property, $list) {
  @each $modifier in $list {
    &--#{$modifier} { #{$property}: var(init-variable($name, $modifier)); }
  }
}
