@import 'src/theme';

:root {
  --canvas-primary-color: var(--color--primary-6, #00000067);
  --canvas-secondary-color: var(--color--secondary-6, #83838367);
  --canvas-success-color: var(--color--success-6, #00FF0067);
  --canvas-info-color: var(--color--info-6, #002FFF67);
  --canvas-warning-color: var(--color--warning-6, #FFAE0067);
  --canvas-error-color: var(--color--error-6, #FF000067);
}

.SelectionBoard {
  background: transparent;
  cursor: pointer;
}
