@import 'src/App/App.module';

:global {
  .dark {
    --canvas-primary-color: #00000067;
    --canvas-secondary-color: #83838367;
    --canvas-success-color: #00FF0067;
    --canvas-info-color: #002FFF67;
    --canvas-warning-color: #FFAE0067;
    --canvas-error-color: #FF000067;
    --canvas-disable-color: #B8B8B867
  ;}

  .light {
    --canvas-primary-color: #00000067;
    --canvas-secondary-color: #83838367;
    --canvas-success-color: #00FF0067;
    --canvas-info-color: #002FFF67;
    --canvas-warning-color: #FFAE0067;
    --canvas-error-color: #FF000067;
    --canvas-disable-color: #B8B8B867
  ;}
}

.SelectionBoard {
  background: transparent;
  cursor: pointer;
}

.ForbiddenSelect {
  cursor: not-allowed;
}
