@import 'src/theme';

:root {
  --popup-backdrop-color: #00000080;
}

.Popup { position: absolute; pointer-events: none; }
.Window { position: fixed; }
.PopupWrapper { position: relative; }

.Container {
  display: grid;
  position: absolute;
  min-width: 0;
  min-height: 0;
  pointer-events: all;
}

.Backdrop {
  background-color: var(--popup-backdrop-color);
  pointer-events: all;
}

.left { top: 0; bottom: 0; left: 0; }
.right { top: 0; bottom: 0; right: 0; }
.top { right: 0; left: 0; top: 0; }
.bottom { right: 0; left: 0; bottom: 0; }

.top-left { top: 0; left: 0; }
.top-right { top: 0; right: 0; }
.bottom-left { bottom: 0; left: 0; }
.bottom-right { bottom: 0; right: 0; }

.full { inset: 0; }
.center { inset: 0; margin: auto; }
