@import '/src/theme';


:root {
  // cerner
  --scroll-cerner-radius: 2px;
  --scroll-cerner-color: transparent;
  --scroll-cerner-color--hover: transparent;
  --scroll-cerner-color--active: transparent;

  // --ui-framework-color: var(--account-framework-color);
}

:global {
  .scroll {
    overflow: hidden;
    position: relative;

    // fix scroll https://stackoverflow.com/questions/61959291/how-to-get-scrolling-in-a-css-grid
    // variant 1 - problems: hide overlapping items
    // overflow: hidden;
    // variant 2 [preferable]
    min-height: 0;
    min-width: 0;

    // direction
    &--x { overflow-x: auto; }
    &--y { overflow-y: auto; }
    &--xy { overflow: auto; }

    // hide browser scroll elements
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer  {
      display: none;
    }
  }

  .scroll-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: grid;
    grid-template-areas:
      'scroll-content scroll-y'
      'scroll-x scroll-cerner';
    grid-template-rows: 1fr auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-columns: 1fr auto;
  }

  .scroll-content {
    position: relative;
    grid-area: scroll-content;
  }

  .scroll-cerner {
    position: relative;
    grid-area: scroll-cerner;
    background: var(--scroll-cerner-color);
    border-bottom-right-radius: var(--scroll-cerner-radius);

    &:hover { background: var(--scroll-cerner-color--hover); }
    &:active { background: var(--scroll-cerner-color--active); }
  }

  .scroll-actions {
    position: absolute;
    display: grid;
    gap: 4px;
  }
}
