@import 'src/App/App.module';

:global {
  .dark {
  }

  .light {
  }
}

.Card {
  display: flex;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.divided {
  border-bottom: 1px solid var(--divider-color);

  &.horizontal > * {
    border-right: 1px solid var(--divider-color);
  }

  &.Vertical > :last-child,
  &.horizontal > :last-child {
    border-right: none;
    border-bottom: none;
  }
}
