@import 'src/App/App.module';

:global {
  .dark {
  }

  .light {
  }
}

.Card {
  display: flex;
  flex-direction: column;
}

.Horizontal {
  flex-direction: row;
}

.Divided {
  border-bottom: 1px solid var(--divider-color);

  &.Horizontal > * {
    border-right: 1px solid var(--divider-color);
  }

  &.Vertical > :last-child,
  &.Horizontal > :last-child {
    border-right: none;
    border-bottom: none;
  }
}
