@import "contexts/UI/UI.module.scss";
@import "components/Box/BoxUI/BoxBorderUI/BoxBorderUI.module.scss";

.Divided {
  &[class*="f-d-v "] > * {
    border-bottom: $base-border-size solid $border-color;
  }

  &[class*="f-d-h"] > * {
    border-right: $base-border-size solid $border-color;
  }

  &[class*="f-d-"] > :last-child,
  &[class*="f-d-"] > [class*="ant-divider"] {
    border-right: none;
    border-bottom: none;
  }
}

