@import "contexts/UI/UI.module.scss";

// border
$border-color: rgba($black-color, $xxs-alpha);
$border-size: 1px;

:export {
  borderSize: $border-size;
  borderColor: $border-color;
}


// shadow alpha
$first-shadow-alpha: 0.20;
$second-shadow-alpha: 0.14;
$third-shadow-alpha: 0.12;

:export {
  firstShadowAlpha: $first-shadow-alpha;
  secondShadowAlpha: $second-shadow-alpha;
  thirdShadowAlpha: $third-shadow-alpha;
}


// shadow
$xs-shadow: 0px 3px 1px -2px rgba($black-color, $first-shadow-alpha), 0px 2px 2px 0px rgba($black-color, $second-shadow-alpha), 0px 1px 5px 0px rgba($black-color, $third-shadow-alpha);
$sm-shadow: 0px 2px 4px -1px rgba($black-color, $first-shadow-alpha), 0px 4px 5px 0px rgba($black-color, $second-shadow-alpha), 0px 1px 10px 0px rgba($black-color, $third-shadow-alpha);
$md-shadow: 0px 3px 5px -1px rgba($black-color, $first-shadow-alpha), 0px 6px 10px 0px rgba($black-color, $second-shadow-alpha), 0px 1px 18px 0px rgba($black-color, $third-shadow-alpha);
$lg-shadow: 0px 5px 5px -3px rgba($black-color, $first-shadow-alpha), 0px 8px 10px 1px rgba($black-color, $second-shadow-alpha), 0px 3px 14px 2px rgba($black-color, $third-shadow-alpha);
$xl-shadow: 0px 6px 6px -3px rgba($black-color, $first-shadow-alpha), 0px 10px 14px 1px rgba($black-color, $second-shadow-alpha), 0px 4px 18px 3px rgba($black-color, $third-shadow-alpha);

$xs-shadow-inset: inset 0px 3px 1px -2px rgba($black-color, $first-shadow-alpha), inset 0px 2px 2px 0px rgba($black-color, $second-shadow-alpha), inset 0px 1px 5px 0px rgba($black-color, $third-shadow-alpha);
$sm-shadow-inset: inset 0px 2px 4px -1px rgba($black-color, $first-shadow-alpha), inset 0px 4px 5px 0px rgba($black-color, $second-shadow-alpha), inset 0px 1px 10px 0px rgba($black-color, $third-shadow-alpha);
$md-shadow-inset: inset 0px 3px 5px -1px rgba($black-color, $first-shadow-alpha), inset 0px 6px 10px 0px rgba($black-color, $second-shadow-alpha), inset 0px 1px 18px 0px rgba($black-color, $third-shadow-alpha);
$lg-shadow-inset: inset 0px 5px 5px -3px rgba($black-color, $first-shadow-alpha), inset 0px 8px 10px 1px rgba($black-color, $second-shadow-alpha), inset 0px 3px 14px 2px rgba($black-color, $third-shadow-alpha);
$xl-shadow-inset: inset 0px 6px 6px -3px rgba($black-color, $first-shadow-alpha), inset 0px 10px 14px 1px rgba($black-color, $second-shadow-alpha), inset 0px 4px 18px 3px rgba($black-color, $third-shadow-alpha);

:export {
  xsShadow: $xs-shadow;
  smShadow: $sm-shadow;
  mdShadow: $md-shadow;
  lgShadow: $lg-shadow;
  xlShadow: $xl-shadow;

  xsShadowInset: $xs-shadow;
  smShadowInset: $sm-shadow;
  mdShadowInset: $md-shadow;
  lgShadowInset: $lg-shadow;
  xlShadowInset: $xl-shadow;
}


:global {
  // border
  .bb-b-d { border: $border-size dotted $border-color; }
  .bb-b-ds { border: $border-size dashed $border-color; }
  .bb-b-s { border: $border-size solid $border-color; }


  // border side
  .bb-b-y { border-left: 0; border-right: 0; }
  .bb-b-x { border-top: 0; border-bottom: 0; }
  .bb-b-t { border-left: 0; border-right: 0; border-bottom: 0; }
  .bb-b-b { border-left: 0; border-right: 0; border-top: 0; }
  .bb-b-l { border-top: 0; border-bottom: 0; border-right: 0; }
  .bb-b-r { border-top: 0; border-bottom: 0; border-left: 0; }


  // shadow
  .bb-sh-xs { box-shadow: $xs-shadow; }
  .bb-sh-sm { box-shadow: $sm-shadow; }
  .bb-sh-md { box-shadow: $md-shadow; }
  .bb-sh-lg { box-shadow: $lg-shadow; }
  .bb-sh-xl { box-shadow: $xl-shadow; }


  // shadow inset
  .bb-shi-xs { box-shadow: $xs-shadow-inset; }
  .bb-shi-sm { box-shadow: $sm-shadow-inset; }
  .bb-shi-md { box-shadow: $md-shadow-inset; }
  .bb-shi-lg { box-shadow: $lg-shadow-inset; }
  .bb-shi-xl { box-shadow: $xl-shadow-inset; }
}
