@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.Button {
  min-width: 0;
  text-wrap: nowrap;
}

.xs { padding: 2px; }
.sm { padding: 3px; }
.md { padding: 4px; }
.lg { padding: 5px; }
.xl { padding: 6px; }

.Round {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}
