@import "Launcher/UILauncher/ThemeProvider/ThemeProvider.module.scss";

:global {
  // justify
  .fi-j-s { justify-self: start; }
  .fi-j-c { justify-self: center; }
  .fi-j-e { justify-self: end; }
  .fi-j-st { justify-self: stretch; }


  // align
  .fi-a-s { align-self: start; }
  .fi-a-c { align-self: center; }
  .fi-a-e { align-self: end; }
  .fi-a-st { align-self: stretch; }
}
