@import 'src/theme';


:root {
  // TODO: move to global styles/variables
  // bar
  --scroll-track-radius: 2px;
  --scroll-track-color: transparent;
  --scroll-track-color--hover: transparent;
  --scroll-track-color--active: transparent;

  // thumb
  --scroll-thumb-radius: 2px;
  --scroll-thumb-color: #33333331;
  --scroll-thumb-color--hover: #33333354;
  --scroll-thumb-color--active: #33333354;

  // shadow
  --scroll-shadow-color: #0000000F;
}

:global {
  .scroll-track,
  .scroll-thumb,
  .scroll-back-button {
    pointer-events: all;
  }

  .scroll-track {
    background: var(--scroll-track-color);
    border-radius: var(--scroll-track-radius);

    // transition: visibility 1s linear 300ms, opacity 300ms; // TODO: via class https://css-tricks.com/snippets/css/toggle-visibility-when-hiding-elements/

    &:hover { background: var(--scroll-track-color--hover); }
    &:active { background: var(--scroll-track-color--active); }

    &--x { grid-area: scroll-x; }
    &--y { grid-area: scroll-y; }
  }

  .scroll-thumb {
    position: relative;
    background: var(--scroll-thumb-color);
    border-radius: var(--scroll-thumb-radius);

    &:hover { background: var(--scroll-thumb-color--hover); }
    &:active { background: var(--scroll-thumb-color--active); }

    @include attach-scroll-size-variables(height);
    @include attach-scroll-size-variables(width);
  }

  .scroll-back-button {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .shadow {
    position: absolute;
  }

  .shadow-y--start {
    width: 100%;
    height: 10px;
    top: 0;
    background: linear-gradient(180deg, var(--scroll-shadow-color), transparent);
  }

  .shadow-y--end {
    width: 100%;
    height: 10px;
    bottom: 0;
    background: linear-gradient(0deg, var(--scroll-shadow-color), transparent);
  }

  .shadow-x--start {
    width: 10px;
    height: 100%;
    left: 0;
    background: linear-gradient(90deg, var(--scroll-shadow-color), transparent);
  }

  .shadow-x--end {
    width: 10px;
    height: 100%;
    right: 0;
    background: linear-gradient(270deg, var(--scroll-shadow-color), transparent);
  }
}
