@import "Launcher/UILauncher/UISettingsProvider/UISettingsProvider.module.scss";

:global {
  // space
  .tw-ws-nw { white-space: nowrap; }
  .tw-ws-p { white-space: pre; }
  .tw-ws-pw { white-space: pre-wrap; }
  .tw-ws-pl { white-space: pre-line; }
  .tw-ws-bs { white-space: break-spaces; }


  // wrap
  .tw-ow-aw { overflow-wrap: anywhere; }
  .tw-ow-bw { overflow-wrap: break-word; }


  // break
  .tw-wb-ba { word-break: break-all }
  .tw-wb-ka { word-break: keep-all }
  .tw-wb-bw { word-break: break-word }


  // hyphens
  .tw-h-m { hyphens: manual; }
  .tw-h-a { hyphens: auto; }


  // ellipses
  .tw-e {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
