/// Set height and width for tag.
///
/// @param {number} $width Tag width.
/// @param {number} $height Tag height.
@mixin stretch($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

// width
// Common breakpoints for widths of devices:
// 320px — 480px: Mobile devices
$xxs-width: 320px;
$xs-width: 480px;

// 481px — 768px: iPads, Tablets
$sm-width: 576px;
$md-width: 768px;

// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
$lg-width: 992px;

// 1201px and more — Extra large screens, TV
$xl-width: 1200px;
$xxl-width: 1600px;


/// Set absolute positioning in special point.
/// ---------------------------------------------
/// | start-start     center-start    end-start |
/// |                                           |
/// | start-center   center-center   end-center |
/// |                                           |
/// | start-end       center-end        end-end |
/// ---------------------------------------------
///
/// @param {start | center | end} $x The position by x.
/// @param {start | center | end} $y The position by y.
/// @param {number} $indent Inner Indent from block.
@mixin absolute-position($x: center, $y: center, $indent: 2rem) {
  // horizontal
  @if $x == start {
    left: $indent;
  } @else if $x == center {
    left: 50%;
  } @else {
    right: $indent;
  }

  // vertical
  @if $y == start {
    top: $indent;
  } @else if $y == center {
    top: 50%;
  } @else {
    bottom: $indent;
  }

  @if $x == center and $y == center {
    transform: translate(-50%, -50%);
  } @else if $x == center {
    transform: translateX(-50%);
  } @else if $y == center {
    transform: translateY(-50%);
  }
}

:root {
  // scroll
  --scroll-track-color: transparent;
  --scroll-track-color--hover: #00000021;
  --scroll-thumb-color: #BFBFBF;
  --scroll-thumb-color--hover: #8C8C8C;
  --scroll-size: 12px;

  // common
  --divider-color: #CACDD1;

  // space
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
}

:global {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;

    @include stretch;
  }

  .gap {
    // size
    &--xxs {  gap: var(--space-xxs); }
    &--xs {  gap: var(--space-xs); }
    &--sm {  gap: var(--space-sm); }
    &--md {  gap: var(--space-md); }
    &--lg {  gap: var(--space-lg); }
    &--xl {  gap: var(--space-xl); }
    &--xxl {  gap: var(--space-xxl); }
  }

  .scroll {
    // size
    &--xs { --scroll-size: 4px; }
    &--sm { --scroll-size: 8px; }
    &--md { --scroll-size: 12px; }
    &--lg { --scroll-size: 16px; }
    &--xl { --scroll-size: 20px; }

    // direction
    &-x { overflow-x: auto; overflow-y: hidden; }
    &-y { overflow-x: hidden; overflow-y: auto; }
    &-xy { overflow-x: auto; overflow-y: auto; }

    // style
    &-x,
    &-y,
    &-xy {
      &::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb-color);

        &:hover {
          background: var(--scroll-thumb-color--hover);
        }
      }

      &::-webkit-scrollbar-track {
        background: var(--scroll-track-color);

        &:hover {
          background: var(--scroll-track-color--hover);
        }
      }

      &::-webkit-scrollbar {
        opacity: 0;
        width: var(--scroll-size);
        height: var(--scroll-size);

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
