@import 'src/assets/styles';

:global {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;

    @include stretch;
  }

  // use light, dark class on element to prevent changing theme on it
  .light { @include init-theme(light); }
  .dark { @include init-theme(dark); }

  .guard-container {
    width: 700px;
  }
}
