@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.AppMenu {
  padding: 15px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  height: 100%;
  overflow: hidden;
}

.Nav {
  height: 100%;
}

.Divider {
  margin-bottom: 0;
}

hr.Divider {
  margin: 8.5px 0;
}
