@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.AppMenu {
  border-right: 1px solid var(--divider-color);
  height: 100%;
  width: 48px;
}

.Logo {
  width: 30px;
  height: 30px;
  padding: 9px;
}
