@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.Full {
  justify-content: start;
}

.Image {
  width: 0;
  height: 0;
}

.Active {
  height: 36px;
  width: fit-content;
}
