@import '/src/theme';

@mixin init-markup() {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

:root {
  // --ui-framework-color: var(--account-framework-color);
}

:global {
  .layout {
    display: grid;

    // template
    &--board {
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
    }

    // TODO: add board-dense: x, y

    &--x {
      grid-template-columns: min-content;
      grid-auto-flow: column; /* Set the auto-placement algorithm to column */
      grid-auto-columns: min-content;
    }

    &--y {
      grid-template-rows: min-content;
      grid-auto-flow: row; /* Set the auto-placement algorithm to row */
      grid-auto-rows: min-content;
    }

    &--row {
      grid-template-columns: 1fr;
      grid-auto-flow: column; /* Set the auto-placement algorithm to column */
      grid-auto-columns: 1fr;
    }

    &--column {
      grid-template-rows: 1fr;
      grid-auto-flow: row; /* Set the auto-placement algorithm to row */
      grid-auto-rows: 1fr;
    }

    &--lcr {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:'left center right';
    }

    &--lc {
      grid-template-columns: auto 1fr;
      grid-template-areas:'left center';
    }

    &--cr {
      grid-template-columns: 1fr auto;
      grid-template-areas:'center right';
    }

    &--tcb {
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        'top'
        'center'
        'bottom';
    }

    &--tc {
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'top'
        'center';
    }

    &--cb {
      grid-template-rows: 1fr auto;
      grid-template-areas:
        'center'
        'bottom';
    }

    &--rows {
      @include init-markup;

      grid-template-areas:
        'top top top'
        'left center right'
        'bottom bottom bottom';
    }

    &--columns {
      @include init-markup;

      grid-template-areas:
        'left top right'
        'left center right'
        'left bottom right';
    }

    &--top {
      @include init-markup;

      grid-template-areas:
        'top top top'
        'left center right'
        'left bottom right';
    }

    &--bottom {
      @include init-markup;

      grid-template-areas:
        'left top right'
        'left center right'
        'bottom bottom bottom';
    }

    &--left {
      @include init-markup;

      grid-template-areas:
        'left top top'
        'left center right'
        'left bottom bottom';
    }

    &--right {
      @include init-markup;

      grid-template-areas:
        'top top right'
        'left center right'
        'bottom bottom right';
    }
  }
}
