:global {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: var(--radius-xs);
    background: transparent;
    gap: var(--space-xs);
    padding: 0 var(--space-xs);
    border: none;
    cursor: pointer;
  }

  .button:hover .button-content {
    flex-grow: 1;
  }

  .outlined {
    border: 1px solid currentcolor;
  }

  .filled {
    color: var(--color-contrast-primary);
  }

  .text {
  }

  .wrapper {
    padding: 0;
  }
}


.Button {
}
