@mixin style-icon($fill: 0, $weight: 200, $gradient: 0, $opacity: 24) {
  font-variation-settings:
    'FILL' $fill,
    'wght' $weight,
    'GRAD' $gradient,
    'opsz' $opacity;
}

:global {
  .icon {
    /* Perfectly matches adjacent text height */
    font-size: 1.1em;
    color: currentcolor;

    &--outline { @include style-icon; }
    &--fill { @include style-icon(1); }
  }
}
