@import "src/Launcher/UILauncher/UILauncher.module.scss";

.AppMenuScreen {
  border-right: 1px solid #cacdd1;
}

.MiddleActions {
  width: 100%;
  box-shadow: 0px -5px 5px 0px rgba(34, 60, 80, 0.06) inset, 0px 5px 5px 0px rgba(34, 60, 80, 0.06) inset;
  flex-grow: 1;
}

.BottomActions {
}

.TopActions,
.MiddleActions,
.BottomActions {
  padding: 10px 6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.SquareButton:focus,
.SquareButton {
  min-height: 40px;
  min-width: 40px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 14px;
  margin-bottom: 2px;
}

.ActiveButton {
  background-color: #0000001F;
  color: #FFFFFF;
}
