@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .layout-item {
    // fix scroll https://stackoverflow.com/questions/61959291/how-to-get-scrolling-in-a-css-grid
    // variant 1
    // overflow: hidden;
    // variant 2 [preferable]
    min-height: 0;
    min-width: 0;

    &--left { grid-area: left; }
    &--right { grid-area: right; }
    &--top { grid-area: top; }
    &--bottom { grid-area: bottom; }
    &--content { grid-area: content; }
  }
}
