@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .layout-item {
    justify-self: stretch;
    align-self: stretch;

    &--left { grid-area: left; }
    &--right { grid-area: right; }
    &--top { grid-area: top; }
    &--bottom { grid-area: bottom; }
    &--content { grid-area: content; }
  }
}
