@import "Launcher/UILauncher/UISettingsProvider/UISettingsProvider.module.scss";

// width
// Common breakpoints for widths of devices:
// 320px — 480px: Mobile devices
$xxs-width: size(80); // 320px
$xs-width: size(120); // 480px
// 481px — 768px: iPads, Tablets
$sm-width: size(144); // 576px
$md-width: size(192); // 768px
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
$lg-width: size(248); // 992px
// 1201px and more — Extra large screens, TV
$xl-width: size(300); // 1200px
$xxl-width: size(400); // 1600px

:export {
  xxsWidth: $xxs-width;
  xsWidth: $xs-width;
  smWidth: $sm-width;
  mdWidth: $md-width;
  lgWidth: $lg-width;
  xlWidth: $xl-width;
  xxlWidth: $xxl-width;
}

// FIXME:
// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }


// space
$xs-space: size(1);
$sm-space: size(2);
$md-space: size(3);
$lg-space: size(4);
$xl-space: size(5);

:export {
  xsSpace: $xs-space;
  smSpace: $sm-space;
  mdSpace: $md-space;
  lgSpace: $lg-space;
  xlSpace: $xl-space;
}


:global {
  // width
  .bs-w-xs { max-width: $xs-width; }
  .bs-w-sm { max-width: $sm-width; }
  .bs-w-md { max-width: $md-width; }
  .bs-w-lg { max-width: $lg-width; }
  .bs-w-xl { max-width: $xl-width; }


  // padding size
  .bs-p-xs { padding: $xs-space; }
  .bs-p-sm { padding: $sm-space; }
  .bs-p-md { padding: $md-space; }
  .bs-p-lg { padding: $lg-space; }
  .bs-p-xl { padding: $xl-space; }


  // padding side
  .bs-p-y { padding-left: 0; padding-right: 0; }
  .bs-p-x { padding-top: 0; padding-bottom: 0; }
  .bs-p-t { padding-left: 0; padding-right: 0; padding-bottom: 0; }
  .bs-p-b { padding-left: 0; padding-right: 0; padding-top: 0; }
  .bs-p-l { padding-top: 0; padding-bottom: 0; padding-right: 0; }
  .bs-p-r { padding-top: 0; padding-bottom: 0; padding-left: 0; }


  // margin size
  .bs-m-xs { margin: $xs-space; }
  .bs-m-sm { margin: $sm-space; }
  .bs-m-md { margin: $md-space; }
  .bs-m-lg { margin: $lg-space; }
  .bs-m-xl { margin: $xl-space; }


  // margin side
  .bs-m-y { margin-left: 0; margin-right: 0; }
  .bs-m-x { margin-top: 0; margin-bottom: 0; }
  .bs-m-t { margin-left: 0; margin-right: 0; margin-bottom: 0; }
  .bs-m-b { margin-left: 0; margin-right: 0; margin-top: 0; }
  .bs-m-l { margin-top: 0; margin-bottom: 0; margin-right: 0; }
  .bs-m-r { margin-top: 0; margin-bottom: 0; margin-left: 0; }


  // stretch
  .bs-s-y { height: 100% }
  .bs-s-x { width: 100% }
  .bs-s-xy { height: 100%; width: 100% }

  // overflow
  .bs-o-a { overflow: auto }
  .bs-o-h { overflow: hidden }
  .bs-o-s { overflow: scroll }
  .bs-o-v { overflow: visible }

  .bs-ox-a { overflow-x: auto }
  .bs-ox-h { overflow-x: hidden }
  .bs-ox-s { overflow-x: scroll }
  .bs-ox-v { overflow-x: visible }

  .bs-oy-a { overflow-y: auto }
  .bs-oy-h { overflow-y: hidden }
  .bs-oy-s { overflow-y: scroll }
  .bs-oy-v { overflow-y: visible }
}
