@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.MarkupBoardLine {
  &[data-highlight='true'] {
    background: var(--color--warning-6);
  }

  &.gap[data-highlight='true'] {
    background: var(--color--info-6);
  }
}

.row {
  border-top: 1px dashed var(--color--primary-6);
  border-bottom: 1px dashed var(--color--primary-6);
}

.column {
  border-left: 1px dashed var(--color--primary-6);
  border-right: 1px dashed var(--color--primary-6);
}
