.MarkupBoardLine {
  &[data-highlight='true'] {
    background: var(--color-warning-5);
  }

  &.gap[data-highlight='true'] {
    background: var(--color-info-5);
  }
}

.row {
  border-top: var(--border-dashed);
  border-bottom: var(--border-dashed);
}

.column {
  border-left: var(--border-dashed);
  border-right: var(--border-dashed);
}
