@import 'src/App/App.module';

.Scroll {
  overflow: hidden;
  position: relative;

  @include stretch;
}

.Content {
  position: absolute;
  inset: 0;
}

.Actions {
  position: absolute;
  bottom: 50px;
  left: 50px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
