@import "src/Launcher/UILauncher/UISettingsProvider/UISettingsProvider.module.scss";

.Scroll {
  overflow: hidden;
  position: relative;

  @include stretch;
}

.Content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Actions {
  position: absolute;
  bottom: 50px;
  left: 50px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
