.MarkupBoard {
}


.Item {
  box-shadow: var(--box-shadow-xxs);
  border-radius: var(--radius-xxs);
  background: var(--color-contrast-primary);
  display: grid;
  align-items: stretch;
  justify-content: stretch;

  &.Select {
    background: var(--color-warning-6);
    opacity: 0.5;
  }

  &:hover {
    background: var(--color-info-6);
  }
}
