@import '/src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.MarkupBoard {
}


.Item {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: grid;
  align-items: stretch;
  justify-content: stretch;

  &.Select {
    border: 1px solid var(--color--warning-6);
    background: var(--color--warning-6);
    opacity: 0.5;
  }

  &:hover {
    border: 1px solid var(--color--info-6);
    background: var(--color--info-6);
  }
}
