@import 'src/App/App.module';

:global {
  .dark {
  }

  .light {
  }
}

.AppMenuItem {
  display: flex;
  justify-content: start;
  border-radius: 9px;
  text-transform: none;

  &.Active {
  }

  &:focus,
  &:hover {
  }
}
