@import 'src/App/App.module';

:global {
  .dark {
  }

  .light {
  }
}

.AppMenuItem {
  border-radius: 0;
  text-transform: none;
  color: gray;
  width: 48px;
  height: 48px;

  &:focus,
  &:hover {
    background: gray;
    color: black;
  }

  > * {
    width: fit-content;
  }

  &:global(.active) {
    background: red;
  }
}
