@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }
}

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  max-width: 30%;
}
