@import 'src/theme';

:root {
  // --ui-framework-color: var(--account-framework-color);
}

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Content {
  max-width: 30%;
}
