@import 'src/App/App.module';

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    // template
    &--row {
      grid-template-areas:
        'top top top'
        'left content right'
        'bottom bottom bottom';
    }

    &--column {
      grid-template-areas:
        'left top right'
        'left content right'
        'left bottom right';
    }

    &--top {
      grid-template-areas:
        'top top top'
        'left content right'
        'left bottom right';
    }

    &--bottom {
      grid-template-areas:
        'left top right'
        'left content right'
        'bottom bottom bottom';
    }

    &--left {
      grid-template-areas:
        'left top top'
        'left content right'
        'left bottom bottom';
    }

    &--right {
      grid-template-areas:
        'top top right'
        'left content right'
        'bottom bottom right';
    }

    &--stretch {
      @include stretch;
    }
  }
}
