@import 'src/App/App.module';

@mixin init-markup() {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .layout {
    display: grid;

    // template
    &--cards {
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
    }

    &--row {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: column; /* Set the auto-placement algorithm to column */
      grid-auto-columns: minmax(100px, 1fr);
    }

    &--column {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row; /* Set the auto-placement algorithm to column */
      grid-auto-rows: minmax(100px, 1fr);
    }

    &--rows {
      @include init-markup;

      grid-template-areas:
        'header header header'
        'left-aside content right-aside'
        'footer footer footer';
    }

    &--columns {
      @include init-markup;

      grid-template-areas:
        'header header header'
        'left-aside content right-aside'
        'footer footer footer';
    }

    &--header {
      @include init-markup;

      grid-template-areas:
        'header header header'
        'left-aside content right-aside'
        'left-aside footer right-aside';
    }

    &--footer {
      @include init-markup;

      grid-template-areas:
        'left-aside header right-aside'
        'left-aside content right-aside'
        'footer footer footer';
    }

    &--left-aside {
      @include init-markup;

      grid-template-areas:
        'left-aside header header'
        'left-aside content right-aside'
        'left-aside footer footer';
    }

    &--right-aside {
      @include init-markup;

      grid-template-areas:
        'header header right-aside'
        'left-aside content right-aside'
        'footer footer right-aside';
    }
  }
}
