@import 'src/theme';// TODO: add path alias 'css'

:root {
  // --ui-framework-color: var(--account-framework-color);
}

:global {
  .text {
    @include attach-text-size-variables(font-size);
    @include attach-text-gap-variables(gap);

    display: flex;
    align-items: center;
  }

  .content {
    flex-grow: 1;
    white-space: nowrap;
  }

  .multiline {
    // white-space: pre-wrap; // wrap by dot
    white-space: wrap; // wrap by space
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ellipsis.multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
