@import 'src/App/App.module';

$texts: ('xxs': 8, 'xs': 12, 'sm': 16, 'md': 20, 'lg': 24, 'xl': 28, 'xxl': 32);

@mixin init-texts($property) {
  @each $size, $value in $texts {
    &--#{$size} { #{$property}: var(--text--#{$size}); gap: #{calc($value / 2)}px; }
  }
}

:root {
  @each $size, $value in $texts {
    --text--#{$size}: #{$value}px;
  }
}

:global {
  .dark {
    // --text-color: white;
  }

  .light {
    // --text-color: black;
  }

  .text {
    @include init-texts(font-size);

    display: flex;
    align-items: center;
  }

  .content {
    flex-grow: 1;
    white-space: nowrap;
  }

  .multiline {
    // white-space: pre-wrap; // wrap by dot
    white-space: wrap; // wrap by space
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ellipsis.multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
