@import "contexts/UI/UI.module.scss";

:global {
  .layout-item { justify-self: stretch; align-self: stretch; }

  .li-t-la { grid-area: left-aside; }
  .li-t-ra { grid-area: right-aside; }
  .li-t-f { grid-area: footer; }
  .li-t-h { grid-area: header; }
  .li-t-c { grid-area: content; }
}
