@use '/src/theme/' as *;

:root {
}

body {
  #storybook-docs {
    height: 100vh;
    overflow-y: auto;
  }

  .sb-bar, .docs-story, .docblock-typeset {
    background: var(--color-contrast-secondary);
  }

  #storybook-docs .docblock-typeset * {
    color: var(--color-primary);
  }
}
